.thumbnail{
  border:3px solid black;
  border-radius: 3px;
  height: 70px;
  width: 70px;
}
.popupImg{
  height: 700px;
  width: 800px;
}
h1,h2{color: darkgreen;
font-size: 20px;}
/*the specificity score : 2**/
nav a{text-transform: uppercase;
font-weight: bold;}
footer{background-color: rgb(83, 196, 200);
color:brown}
.artist-card{border: 2px solid rgb(8, 57, 205);
border-radius: 2px;
background-color: rgb(103, 103, 186);
}
#welcome{font-size: 30px;}
/*the specificity score : 101**/
#Vincent h2{color: rgb(84, 161, 8);}
#Leonardo h2{color: rgb(210, 237, 6);}
#Claude h2{color: rgb(215, 16, 175);}
/*the specificity score : 3**/
main section a{background-color: rgb(155, 155, 221);
padding: 15px;
font-size: 20px;}

article h2{color:rgb(29, 110, 46)}
/**this wins since the class***/
.artist-card h2{color:brown}
